<div class="jumbotron">
	<h1>Ashley & Michael</h1>
  <h2>12-13-14</h2>
  <h2>Raleigh, North Carolina </h2>
</div>

<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "Home", root_path %></li>
      <li class="<%= 'active' if current_page?(registry_path) %>"><%= link_to "Registry", registry_path %></li>
      <li class="<%= 'active' if current_page?(rsvp_path) %>"><%= link_to "RSVP", rsvp_path %></li>
      <li class="<%= 'active' if current_page?(accomodations_path) %>"><%= link_to "Accomodations", accomodations_path %></li>
      <li class="<%= 'active' if current_page?(thingstodo_path) %>"><%= link_to "Things To Do", thingstodo_path %></li>
      <li class="<%= 'active' if current_page?(weddingevents_path) %>"><%= link_to "Wedding Events", weddingevents_path %></li>
      <li class="<%= 'active' if current_page?(bridalparty_path) %>"><%= link_to "Bridal Party", bridalparty_path %></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div class="row">
  <div class"col-md-12">
    <center><%= image_tag("homepage/banner.png", class: "img-responsive" ) %></center>
  </div>
</div>