<!DOCTYPE html>
<html>
<head>
  <title>Wedding</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= link_to "Bridal Party", bridalparty_path %>
	<%= link_to "Love Story", lovestory_path %>
	<%= link_to "Wedding Registration", registration_path %>
	<%= link_to "RSVP", onlinersvp_path %>
	<%= link_to "Accomodations", accomodations_path %>
	<%= link_to "Things To Do", thingstodo_path %>
	<%= link_to "Wedding Events", weddingevents_path %>
<%= yield %>

</body>
</html>
