<!DOCTYPE html>
<html>
<head>
  <title>A & M Wedding</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
	<div class="container">
		<%= render 'layouts/header' %>
		<%= yield %>
	<footer>
		<center>
			<%= image_tag("homepage/banner2.png", class: "img-responsive" ,style: "padding-bottom:15px") %>
			<span class="glyphicon glyphicon-heart-empty" ></span>Designed with love by Brittany Vacchiano
		</center>
	</footer>
	</div>
</body>
</html>
